<div id="particles-js"></div>

<!-- START PRELOADER -->
<div class="preloader">
    <div class="status">
        <div class="status-mes"></div>
    </div>
</div>
<!-- END PRELOADER -->

<!-- START NAVBAR -->
<div class="navbar navbar-default navbar-fixed-top menu-top menu_dropdown">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"><img src="/assets/img/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="navbar-collapse collapse">
                    <nav>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Home</a></li>
                            <li><a href="/buy-place-in-the-team">Buy place in the team</a></li>
                            <li><a href="/buy-email">Buy Email</a></li>
                            <li><a href="/stories">Your stories</a>
                                <ul class="sub-menu">
                                    <li><a href="/stories">Stories</a></li>
                                    <li><a href="/add-story">Add your story</a></li>
                                </ul>
                            </li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a class="block-menu" href="/add-story">Add your story</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</div>
<!-- END NAVBAR -->